<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin</title>
    <link rel="stylesheet" href="admin.css">
</head>
<body>
    <section class="logout">
        <button type="submit">Log Out</button>
    </section>
    <section class="container">
        <div class="sub-container">
            <div class="box">
                <div class="details">
                    <h1>New Customers</h1><br>
                </div>
                <div class="details">
                    <h1>Abu Bin</h1><br>
                    <p>info@example.com</p><br>
                </div>
                <div class="details">
                    <h1>Abu Bin</h1><br>
                    <p>info@example.com</p><br>
                </div>
                <div class="details">
                    <h1>Abu Bin</h1><br>
                    <p>info@example.com</p><br>
                </div>
                <div class="details">
                    <h1>Abu Bin</h1><br>
                    <p>info@example.com</p><br>
                </div>
                <div class="details">
                    <h1>Abu Bin</h1><br>
                    <p>info@example.com</p><br>
                </div>
            </div>
            <div class="box">
                <div class="details">
                    <h1>Recent Activities</h1><br>
                </div>
                <div class="details">
                    <h1>Keith Jensen requested for a room</h1><br>
                    <p>2 hours ago</p><br>
                </div>
                <div class="details">
                    <h1>Keith Jensen requested for a room</h1><br>
                    <p>2 hours ago</p><br>
                </div>
                <div class="details">
                    <h1>Keith Jensen requested for a room</h1><br>
                    <p>2 hours ago</p><br>
                </div>
                <div class="details">
                    <h1>Keith Jensen requested for a room</h1><br>
                    <p>2 hours ago</p><br>
                </div>
                <div class="details">
                    <h1>Keith Jensen requested for a room</h1><br>
                    <p>2 hours ago</p><br>
                </div>
            </div>
        </div>
    </section>
</body>
</html>