<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="stylesheet" href="./admin.css">
</head>
<body class="body">
    <section class="admin-login">
        <form class="admin-container" action="./admin.html">
            <div class="admin-input">
                <input type="text" class="input" placeholder="Username">
            </div>
            <div class="admin-input">
                <input type="password" class="input" placeholder="Password">
            </div>
            <div class="admin-input">
                <button id="btn2">Submit</button>
            </div>
        </form>
    </section>
</body>
</html>